/* ================================= */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none; }

body {
  padding: 6rem;
  box-sizing: border-box;
  background-color: #eee;
  font-family: "Roboto", sans-serif;
  /* width */
  /* Handle */
  /* Handle on hover */ }
  body ::-webkit-scrollbar {
    width: 6px; }
  body ::-webkit-scrollbar-thumb {
    background: #eee; }
  body ::-webkit-scrollbar-thumb:hover {
    background: #ccc; }

#bottom-right {
  position: absolute;
  bottom: 0;
  right: 15%; }

.container {
  width: 375px;
  height: 525px;
  border-radius: 16px;
  background-color: #fff;
  margin: auto;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  position: relative; }
  .container .nav {
    max-width: 100%;
    height: 40px;
    padding: 8px 4px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc; }
    .container .nav .profile-box {
      width: 150px;
      margin-right: auto;
      display: grid;
      grid-template-columns: 50px 100px;
      grid-template-rows: 20px 15px;
      align-items: center; }
      .container .nav .profile-box .profile-img {
        grid-column: 1 / 2;
        grid-row: 1 / span 2;
        padding: 8px;
        position: relative; }
        .container .nav .profile-box .profile-img .status-signal {
          background-color: green;
          width: 9px;
          height: 9px;
          border-radius: 50%;
          position: absolute;
          right: 12.5%;
          bottom: 12.5%;
          border: 2.5px solid #fff; }
        .container .nav .profile-box .profile-img img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: block; }
      .container .nav .profile-box .profile-name {
        font-weight: bold; }
      .container .nav .profile-box .profile-status {
        font-size: 0.8rem;
        color: #8c8c8c; }
    .container .nav-options li {
      position: relative;
      display: inline;
      margin-right: 8px; }
      .container .nav-options li a {
        font-size: 1.3rem;
        color: #2f86f7; }
      .container .nav-options li .tooltip-1 {
        display: none;
        position: absolute;
        width: 102px;
        top: -37.5px;
        left: -10px;
        padding: 4px;
        background-color: #222;
        z-index: 1111;
        color: #fff;
        font-size: 0.8rem;
        border-radius: 4px; }
        .container .nav-options li .tooltip-1 .triangle {
          width: 15px;
          height: 15px;
          background-color: #222;
          position: absolute;
          bottom: -50%;
          right: 75%;
          clip-path: polygon(50% 35%, 0% 100%, 100% 100%);
          transform: rotate(180deg);
          z-index: -111; }
      .container .nav-options li .tooltip-2 {
        display: none;
        position: absolute;
        top: -37.5px;
        left: -12.5px;
        padding: 4px;
        background-color: #222;
        z-index: 1111;
        color: #fff;
        font-size: 0.8rem;
        border-radius: 4px; }
        .container .nav-options li .tooltip-2 .triangle {
          width: 15px;
          height: 15px;
          background-color: #222;
          position: absolute;
          bottom: -50%;
          right: 40%;
          clip-path: polygon(50% 35%, 0% 100%, 100% 100%);
          transform: rotate(180deg);
          z-index: -111; }
    .container .nav-options .video-call:hover .tooltip-1,
    .container .nav-options .voice-call:hover .tooltip-1 {
      display: block; }
    .container .nav-options .options:hover .tooltip-2,
    .container .nav-options .close:hover .tooltip-2 {
      display: block; }
    .container .nav-options .options {
      position: relative; }
      .container .nav-options .options:hover .settings {
        display: block; }
      .container .nav-options .options .settings {
        display: none;
        position: absolute;
        width: 250px;
        height: 310px;
        background-color: #fff;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
        top: 100%;
        left: 25%; }
        .container .nav-options .options .settings ul li {
          border-bottom: 1px solid #eee;
          padding: 8px 16px;
          margin: 0;
          display: block; }
          .container .nav-options .options .settings ul li a {
            color: #000;
            font-size: 0.9rem; }
            .container .nav-options .options .settings ul li a i {
              margin-right: 8px;
              font-size: 1.25rem; }
          .container .nav-options .options .settings ul li:hover {
            background-color: #eee; }
  .container .content {
    overflow: auto;
    scrollbar-width: thin;
    padding: 8px 16px;
    font-size: 0.9rem;
    height: 380px; }
    .container .content .message-receiver {
      width: 100%;
      display: flex;
      position: relative;
      margin-bottom: 8px; }
      .container .content .message-receiver .profile-img {
        width: 35px;
        height: 100%;
        margin-right: 8px; }
        .container .content .message-receiver .profile-img img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
        .container .content .message-receiver .profile-img:hover ~ .options {
          display: none; }
        .container .content .message-receiver .profile-img:hover::after {
          content: "Xer Can - 5 January 2019 at 09:44";
          display: block;
          border-radius: 4px;
          font-size: 0.8rem;
          height: 15px;
          padding: 8px;
          position: absolute;
          letter-spacing: 1px;
          top: 16px;
          left: 12%;
          transform: translateY(-50%);
          background-color: #222;
          color: #fff;
          z-index: 99999; }
      .container .content .message-receiver .profile-message {
        width: 60%;
        background-color: #eee;
        padding: 8px 12px;
        border-radius: 0 16px 16px 0;
        display: inline-block;
        margin-right: 6px; }
      .container .content .message-receiver .profile-message-img {
        width: 50%;
        margin-right: 8px;
        position: relative; }
        .container .content .message-receiver .profile-message-img img {
          width: 100%;
          height: 200px;
          object-fit: cover; }
        .container .content .message-receiver .profile-message-img .react {
          width: 37.5px;
          height: 20px;
          border-radius: 32px;
          background-color: #fff;
          box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
          position: absolute;
          bottom: 0;
          right: -8px;
          padding: 2px; }
          .container .content .message-receiver .profile-message-img .react .emoji,
          .container .content .message-receiver .profile-message-img .react .add {
            color: #8c8c8c; }
          .container .content .message-receiver .profile-message-img .react .emoji {
            font-size: 1rem;
            margin-left: 4px; }
          .container .content .message-receiver .profile-message-img .react .add {
            font-size: 0.5rem;
            position: absolute; }
      .container .content .message-receiver .options {
        display: none;
        margin: auto 0; }
        .container .content .message-receiver .options a {
          color: #ccc;
          font-size: 1rem; }
          .container .content .message-receiver .options a img {
            width: 30px;
            filter: grayscale(100%); }
      .container .content .message-receiver:hover .options {
        display: inline-block; }
        .container .content .message-receiver:hover .options a:hover {
          color: #222; }
    .container .content .message-sender {
      width: 100%;
      margin-bottom: 4px; }
      .container .content .message-sender::after {
        content: "";
        display: table;
        clear: both; }
      .container .content .message-sender .message {
        width: 60%;
        height: 100%;
        background-color: #2f86f7;
        color: #fff;
        padding: 8px 12px;
        margin-bottom: 2px;
        float: right; }
        .container .content .message-sender .message:nth-child(odd) {
          border-radius: 18px 18px 0 18px; }
        .container .content .message-sender .message:nth-child(even) {
          border-radius: 18px 0 18px 18px; }
    .container .content .seen-feature {
      float: right;
      color: #8c8c8c; }
      .container .content .seen-feature p {
        margin-left: 4px;
        float: right; }
  .container .input {
    width: 100%;
    height: 70px;
    background-color: #fff;
    border-top: 1px solid #ccc;
    position: absolute;
    bottom: 0;
    right: 0;
    display: grid;
    grid-template-columns: repeat(8, 1fr) 60px;
    grid-template-rows: 35px 30px;
    align-items: center;
    overflow: hidden; }
    .container .input-message {
      grid-column: 1 / -1;
      grid-row: 1 / 2; }
      .container .input-message input {
        width: 92.5%;
        height: 100%;
        padding: 4px 12px;
        font-size: 0.85rem;
        border: none; }
        .container .input-message input:focus {
          outline: none; }
    .container .input [class*="--"]:not(:last-child) {
      text-align: center; }
    .container .input [class*="--"] a {
      padding: 4px 12px;
      font-size: 1.25rem;
      color: #8c8c8c; }
    .container .input [class*="--"]:last-child {
      text-align: right;
      transition: all 0.3s; }
      .container .input [class*="--"]:last-child:hover {
        transform: scale(1.5); }
    .container .input [class*="--"]:hover a {
      color: #2f86f7; }

/*# sourceMappingURL=style.css.map */
