// ==================================
// v a r i a b l e s

$color-white: #fff;
$color-black: #000;

$color-gray-light: #eee;
$color-gray: #ccc;
$color-gray-dark: #222;
$color-green: green;

$color-primary: #2f86f7;

/* ================================= */
// Mixins

@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

// ==================================
// r e s e t s

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    padding: 6rem;
    box-sizing: border-box;
    background-color: $color-gray-light;
    font-family: "Roboto", "Helvetica", "Segoe UI";

    /* width */
    ::-webkit-scrollbar {
        width: 6px;
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: $color-gray-light;
    }
}
